---
layout: main.liquid
---
<section class='essay'>
	<style>
		@layer template {
			.essay {
				--flow-space: 2em;
				font-family: var(--font-serif);
				padding-left: var(--safe-padding-left);
				padding-right: var(--safe-padding-right);
			}
			.essay__safe-area {
				font-size: 1.15rem;
				inline-size: 100%;
				line-height: 1.6;
				margin-inline: auto;
				max-inline-size: var(--content-width);
				padding-block: 8rem;
			}
			.essay__header {
				margin-block-end: 5em;
			}
			.essay__safe-area h1 {
				font-size: 2rem;
				font-weight: 400;
				margin-block-end: 2rem;
			}
			.essay__safe-area h2,
			.essay__safe-area h3,
			.essay__safe-area h4,
			.essay__safe-area h5,
			.essay__safe-area h6 {
				font-family: var(--font-sans);
			}
			.essay__safe-area h2,
			.essay__safe-area h3,
			.essay__safe-area h4 {
				color: var(--color-accent);
				font-weight: 400;
				margin-block: 4rem 2rem;
			}
			.essay__safe-area h2 {
				font-size: 1.65rem;
			}
			.essay__safe-area h3 {
				font-size: 1.4rem;
				font-variant-caps: all-small-caps;
			}
			.essay__safe-area h4 {
				font-size: 1.4rem;
			}
			.essay__safe-area p,
			.essay__safe-area blockquote {
				max-inline-size: 35rem;
			}
			.essay__safe-area p {
				margin-block-start: var(--flow-space);
			}
			.essay__safe-area blockquote {
				border-inline-start: var(--delineation);
				font-family: var(--font-sans);
				font-size: 95%;
				padding-inline-start: 1.5em;
			}
			.essay__safe-area figcaption {
				text-align: end;
				text-wrap: balance;
			}
			.essay__meta {
				color: var(--color-fg-2);
				font-family: var(--font-sans);
			}
			.essay__meta time {
				font-variant-numeric: unset;
			}
			.essay__hostname {
				color: var(--color-fg-2);
				font-family: var(--font-sans);
				font-size: var(--s0);
				font-weight: 300;
				letter-spacing: 0.015em;
				&::before {
					content: ' → ' / '– links to';
					color: var(--color-accent);
				}
			}
			.essay__description {
				font-family: var(--font-sans);
			}
			.essay__footer {
				font-family: var(--font-sans);
				margin-block-start: 5em;
			}
			.essay img {
				border-radius: 0.5rem;
				border: var(--delineation);
			}
			.essay ul {
				margin-block-end: 2rem;
			}
			.essay ul li {
				margin-block-end: 1rem;
			}
			.essay ul li::marker {
				color: var(--color-fg-2);
			}
		}
	</style>
	<article
		class='essay__safe-area flow'
		itemscope
		itemtype='https://schema.org/BlogPosting'
	>
		<header class='essay__header'>
			<div class='essay__meta'>
				<div hidden itemprop='author'>{{ metadata.name }}</div>
				<time
					datetime='{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}'
					itemprop='dateCreated datePublished pubdate'
				>
					{{- page.date | date: "%d&nbsp;%B %Y" -}}
				</time>
				&middot;
				<span
					>a
					{%- if tags contains "link post" %}
						link post
					{%- else %}
						post
					{%- endif %}
				</span>
				&middot;
				{%- if modified %}
					updated
					<time
						datetime='{{ modified | date: "%Y-%m-%dT%H:%M:%SZ" }}'
						itemprop='dateModified'
					>
						{{- modified | date: "%d&nbsp;%B %Y" -}}
					</time>
				{%- endif %}
			</div>
			{%- if link %}
				<h1>
					<a href='{{ link }}' rel='external nofollow' itemprop='headline'>{{ title }}</a>
					<cite class='essay__hostname'>{{ link | hostname }}</cite>
				</h1>
			{%- else %}
				<h1 itemprop='headline'>{{ title }}</h1>
			{%- endif %}
			{%- if description %}
				<p class='essay__description' itemprop='description'>{{ description }}</p>
			{%- endif %}
		</header>
		{{ content }}
		<footer class='essay__footer'>
			{%- if link %}
				<a href='{{ permalink }}' itemprop='url'>Permalink ({{ metadata.domain }})</a>
				&middot;
				<a href='{{ link }}'>Visit site ({{ link | hostname }})</a>
			{%- else %}
				<a href='{{ permalink }}'>(Permalink)</a>
			{%- endif %}
		</footer>
	</article>
</section>
