---
title: Now
layout: wordswordswords.liquid
permalink: now.html
---

<style>
	h2 {
		font-size: 1.35rem;
		font-weight: 700;
		line-height: 1.45;
	}
	.run-in {
		float: left;
		margin-inline-end: 0.85em;
	}
	.run-in + p {
		clear: none;
	}
</style>
<p>
	This is my <a href="https://nownownow.com/about">now page</a>. (You should
	make one too.)
</p>
<h2 class="run-in">Doing</h2>
<p>
	Researching
	<a href="https://part4project.foe.auckland.ac.nz/home/project/detail/5167"
		>how LLMs can be used to improve the development of ontologies</a
	>. Running with my partner, swimming. Learnin’ to cook more Taiwanese food.
</p>
<h2 class="run-in">Obsessing about</h2>
<p>
	Perceptual colour models, variable fonts and all things
	<abbr title="Cascading Style Sheets">CSS</abbr>.
</p>
<h2 class="run-in">Eyeing</h2>
<p>
	<a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_components"
		>Web Components</a
	>,
	<a href="https://developer.apple.com/videos/wwdc24"
		><abbr title="Worldwide Developers Conference 2024">WWDC24</abbr></a
	>
	&
	<a href="https://cssday.nl/2024/speakers"
		><abbr title="Cascading Style Sheets">CSS</abbr>&nbsp;Day</a
	>
	session videos, and SwiftUI. Also Kaveh Akbar’s <i>Martyr!</i>.
</p>
<h2>Enjoying</h2>
<div class="coverflow">
	<style>
		.coverflow {
			--coverflow-block-size: 8rem;
			block-size: var(--coverflow-block-size);
			margin-block: 1rem 2rem;
			overflow-x: auto;
			scroll-snap-type: inline proximity;
		}
		.coverflow__content {
			display: contents;
			display: flex;
			gap: 0.5rem;
			inline-size: max-content;
			list-style-type: none;
			margin-block: unset;
		}
		.coverflow__item {
			margin-block: 0;
		}
		.coverflow__img {
			block-size: var(--coverflow-block-size);
			border-radius: 0.25rem;
			border: var(--delineation);
			inline-size: auto;
		}
	</style>
	<ul class="coverflow__content">
		{% for thing in coverflow %}
		<li class="coverflow__item">
			<a href="{{ thing.link }}">
				<picture>
					<source srcset="{{ thing.coverPath }}.webp" type="image/webp" />
					<source srcset="{{ thing.coverPath }}.png" type="image/png" />
					<img
						alt="{{ thing.title }}"
						class="coverflow__img"
						decoding="async"
						src="{{ thing.coverPath }}.png"
					/>
				</picture>
			</a>
		</li>
		{% endfor %}
	</ul>
</div>

{% comment %}
Thank you to Jeramy B. for his musical tastemaking.

- Arc
- Clear
- Eleventy
- GUBBINS
- VHS
- Warp
{% endcomment %}
