---
title: Now
layout: wordswordswords.liquid
permalink: now.html
---

<style>
	h2 {
		font-size: 1.35rem;
		font-weight: 700;
		line-height: 1.45;
	}
	.run-in {
		float: left;
		margin-inline-end: 0.85em;
	}
	.run-in + p {
		clear: none;
	}
</style>
<p>
	This is my <a href="https://nownownow.com/about" target="_blank">now page</a>.
	(You should make one too.)
</p>
<h2 class="run-in">Doing</h2>
<p>
	Making my way through Emil Kowalski’s
	<a href="https://animations.dev" target="_blank"
		><i>Animations on the Web</i></a
	>, with Andy Bell’s
	<a href="https://piccalil.li/complete-css" target="_blank"
		><i>Complete <abbr title="Cascading Style Sheets">CSS</abbr></i></a
	>
	lined up and ready to go. Running the maunga with my partner, swimming.
	Learnin’ to cook more Taiwanese food.
</p>
<h2 class="run-in">Obsessing about</h2>
<p>
	Perceptual colour models, variable fonts, passkeys and all things
	<abbr title="Cascading Style Sheets">CSS</abbr>.
</p>
<h2 class="run-in">Eyeing</h2>
<p>
	<a
		href="https://developer.mozilla.org/en-US/docs/Web/API/Web_components"
		target="_blank"
		>Web Components</a
	>,
	<a href="https://developer.apple.com/videos/wwdc24" target="_blank"
		><abbr title="Worldwide Developers Conference 2024">WWDC24</abbr></a
	>
	&
	<a href="https://cssday.nl/2024/speakers" target="_blank"
		><abbr title="Cascading Style Sheets">CSS</abbr>&nbsp;Day</a
	>
	session videos, and SwiftUI. Also Kaveh Akbar’s <i>Martyr!</i>.
</p>
<h2>Enjoying</h2>
<div class="coverflow">
	<style>
		.coverflow {
			--coverflow-block-size: 8rem;
			block-size: var(--coverflow-block-size);
			margin-block: 1rem 2rem;
			overflow-x: auto;
			scroll-snap-type: inline proximity;
		}
		.coverflow__content {
			display: contents;
			display: flex;
			gap: 0.5rem;
			inline-size: max-content;
			list-style-type: none;
			margin-block: unset;
			max-inline-size: unset;
			padding-inline-start: unset;
		}
		@media (hover: hover) {
			.coverflow__content:has(:hover) > .coverflow__item:not(:hover) {
				filter: saturate(30%);
				opacity: 85%;
			}
		}
		.coverflow__item {
			margin-block: 0;
			transition:
				filter var(--transition-dn-sensible) var(--transition-fn),
				opacity var(--transition-dn-sensible) var(--transition-fn);
		}
		.coverflow__img {
			block-size: var(--coverflow-block-size);
			border-radius: 0.25rem;
			border: var(--delineation);
			inline-size: auto;
		}
		.coverflow__text-item {
			align-content: end;
			aspect-ratio: 4 / 3;
			block-size: var(--coverflow-block-size);
			border-radius: 0.25rem;
			border: var(--delineation);
			color: var(--color-fg-2);
			font-size: 1rem;
			padding: 0.5rem;
		}
	</style>
	<ul class="coverflow__content" role="list">
		{% for thing in coverflow %}
		<li class="coverflow__item">
			<a href="{{ thing.link }}" target="_blank">
				<picture>
					<source srcset="{{ thing.coverPath }}.webp" type="image/webp" />
					<source srcset="{{ thing.coverPath }}.png" type="image/png" />
					<img
						alt="{{ thing.title }}"
						class="coverflow__img"
						decoding="async"
						src="{{ thing.coverPath }}.png"
					/>
				</picture>
			</a>
		</li>
		{% endfor %}
		<li class="coverflow__item coverflow__text-item">
			…<a href="https://greyroastingco.com" target="_blank">and</a>
			<a href="https://altezanobrothers.co.nz" target="_blank">locally</a>
			<a href="https://www.eighthirty.com" target="_blank">roasted</a>
			<a href="https://www.espressoworkshop.co.nz" target="_blank">specialty</a>
			<a href="https://www.anastasiscoffee.com" target="_blank">coffee</a>.
		</li>
	</ul>
</div>

{% comment %} Thank you to Jeramy B. for his musical tastemaking. - Arc - Clear
- Eleventy - GUBBINS - VHS - Warp {% endcomment %}
