---
title: Required reading
layout: wordswordswords.liquid
permalink: readings.html
---
<p>I mean, they’re not <em>required</em>—obviously. But these have struck some kind of chord with me.</p>
<ul class='readings' role='list'>
	<style>
		.readings {
			--transition-duration: var(--transition-dn-relaxed);
			display: grid;
			font-size: var(--s0);
			inline-size: 100%;
			list-style-type: none;
			max-inline-size: unset;
			padding: 0;
			@media (min-width: 40rem) {
				grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
			}
		}
		.readings__reading {
			border-block-start: var(--delineation);
			display: grid;
			grid-column: 1 / -1;
			grid-template-columns: subgrid;
			margin-block: 0;
			&:last-of-type {
				border-block-end: var(--delineation);
			}
		}
		@media (hover: hover) {
			.readings__reading {
				transition: border-color var(--transition-duration) var(--transition-fn);
			}
			.readings__reading_link {
				transition: opacity var(--transition-duration) var(--transition-fn);
			}
			.readings:has(.readings__reading:hover) > .readings__reading:not(:hover) {
				border-color: transparent;
				.readings__reading_link {
					opacity: 40%;
				}
			}
			.readings__reading:hover + .readings__reading {
				border-block-start-color: var(--color-border) !important;
			}
		}
		.readings__reading p {
			max-inline-size: unset;
		}
		.readings__reading a {
			text-decoration: none;
		}
		.readings__reading_link {
			color: unset;
			display: block grid;
			display: grid;
			gap: 0.5rem 1.5rem;
			grid-column: 1 / -1;
			grid-template-columns: subgrid;
			padding-block: var(--s3);
		}
		.readings__reading_details {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
		.readings__reading_author {
			font-family: var(--font-serif);
			font-variant-caps: all-small-caps;
			line-height: 1.3;
			margin-block: 0;
		}
		.readings__reading_media {
			color: var(--color-fg-2);
			font-size: 0.85rem;
			letter-spacing: 0.01em;
			margin-block-end: 0.5rem;
		}
		.readings__reading_title {
			font-family: var(--font-serif);
			font-size: var(--s0);
			font-style: italic;
			font-weight: 400;
			letter-spacing: unset;
			line-height: 1.3;
		}
		.readings__reading_pullquote {
			font-family: var(--font-serif);
			font-size: var(--s3);
			font-weight: 700;
			line-height: 1.15;
			margin-block: 0;
			opacity: 93%;
			text-wrap: balance;
		}
		@supports not (hanging-punctuation: first) {
			.readings__reading_pullquote {
				text-indent: -0.5em;
			}
		}
		.readings__reading_pullquote::before {
			content: '“';
		}
		.readings__reading_pullquote::after {
			content: '”';
		}
		.readings__reading_comment {
			font-family: var(--font-sans);
			margin-block: 0.5rem 0;
		}
		.readings__reading_hostname {
			color: var(--color-fg-2);
			font-size: 0.85rem;
			inline-size: fit-content;
			letter-spacing: 0.015rem;
			margin-block: var(--s3) 0;
			opacity: 0;
			transition: opacity var(--transition-duration) var(--transition-fn);
		}
		.readings__reading:hover .readings__reading_hostname {
			opacity: 100%;
		}
		.readings__reading_hostname::after {
			color: var(--color-accent);
			content: '→';
			display: inline-block;
			margin-inline-start: 0.3em;
			transition: transform var(--transition-duration) var(--transition-fn);
		}
		.readings__reading:hover .readings__reading_hostname::after {
			transform: translateX(0.2em);
		}
	</style>
	{%- for r in readings %}
		<li class='readings__reading' id='{{ r.title | slugify }}'>
			<a
				class='readings__reading_link'
				{%- if r.link %}
					href='{{ r.link }}'
				{%- endif %}
				rel='external'
				target='_blank'
			>
				<div>
					<p class='readings__reading_author'>
						{%- if r.author %}
							{{ r.author }}
						{%- else %}
							Unknown author
						{%- endif %}
					</p>
					{%- if r.media %}
						<p class='readings__reading_media'>{{ r.media }}</p>
					{%- endif %}
				</div>
				<div class='readings__reading_details'>
					{%- if r.author %}
						<h2 class='readings__reading_title'>{{ r.title }}</h2>
					{%- endif %}
					{%- if r.pullquote %}
						<p class='readings__reading_pullquote'>{{ r.pullquote }}</p>
					{%- endif %}
					{%- if r.comment %}
						<p class='readings__reading_comment'>{{ r.comment }}</p>
					{%- endif %}
					{%- if r.link %}
						<p class='readings__reading_hostname' title='{{ r.link }}'>{{ r.link | hostname }}</p>
					{%- endif %}
				</div>
			</a>
		</li>
	{%- endfor %}
</ul>
