---
title: Required reading
layout: wordswordswords.liquid
permalink: readings.html
---

<p>
	I mean, they’re not <em>required</em>—obviously. But these have struck some
	kind of chord with me.
</p>
<ul class="readings">
	<style>
		.readings {
			--transition-duration: var(--transition-duration-relaxed);

			font-size: 1rem;
			inline-size: 100%;
			list-style-type: none;
		}
		.readings__reading {
			border-block: var(--delineation);
			margin-block: 0;
			transition-duration: var(--transition-duration);
      transition-property: border-color, opacity;
      transition-timing-function: var(--transition-fn);
		}
		@media (hover: hover) {
			.readings:has(.readings__reading:hover) > .readings__reading:not(:hover) {
				border-color: transparent;
				opacity: 40%;
			}
		}
		.readings__reading p {
			max-inline-size: unset;
		}
		.readings__reading a {
			text-decoration: none;
		}
		.readings__reading_link {
			color: unset;
			display: block grid;
			gap: 0.5rem 1.5rem;
			padding-block: 2rem;
			@media (min-width: 40rem) {
				grid-template-columns: 1fr 3fr;
			}
		}
		.readings__reading_details {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
		.readings__reading_author {
			font-family: var(--font-serif);
			font-variant-caps: all-small-caps;
			line-height: 1.3;
			margin-block: 0;
		}
		.readings__reading_media {
			font-size: 0.85rem;
			letter-spacing: 0.01em;
			opacity: 65%;
			margin-block-end: .5rem;
		}
		.readings__reading_title {
			font-family: var(--font-serif);
			font-size: 1rem;
			font-style: italic;
			font-weight: 400;
			line-height: 1.3;
		}
		.readings__reading_pullquote {
			font-family: var(--font-serif);
			font-size: 2rem;
			font-weight: 700;
			line-height: 1.15;
			margin-block: 0;
			opacity: 93%;
			text-wrap: balance;
		}
		@supports not (hanging-punctuation: first) {
			.readings__reading_pullquote {
				text-indent: -0.5em;
			}
		}
		.readings__reading_pullquote::before {
			content: '“';
		}
		.readings__reading_pullquote::after {
			content: '”';
		}
		.readings__reading_comment {
			font-family: var(--font-sans);
			margin-block: 0.5rem 0;
		}
		.readings__reading_hostname {
			font-size: 0.85rem;
			inline-size: fit-content;
			letter-spacing: .015rem;
			margin-block: 2rem 0;
			opacity: 0;
			transition: opacity var(--transition-duration) var(--transition-fn);
		}
		.readings__reading:hover .readings__reading_hostname {
			opacity: 40%;
		}
		.readings__reading_hostname::after {
			content: '→';
			margin-inline-start: 0.3em;
			transition: margin-inline-start var(--transition-duration) var(--transition-fn);
		}
		.readings__reading:hover .readings__reading_hostname::after {
			margin-inline-start: 0.5em;
		}
	</style>
	{% for r in readings %}
		<li class="readings__reading">
		<a class="readings__reading_link" {% if r.link %} href="{{ r.link }}" {% endif %} target="_blank">
				<div>
					<p class="readings__reading_author">
						{% if r.author %}
							{{ r.author }}
						{% else %}
							Unknown author
						{% endif %}
					</p>
					{% if r.media %}
					<p class="readings__reading_media">{{ r.media }}</p>
				{% endif %}
				</div>
				<div class="readings__reading_details">
					{% if r.author %}
						<h2 class="readings__reading_title">{{ r.title }}</h2>
					{% endif %}
						{% if r.pullquote %}
					<p class="readings__reading_pullquote">{{ r.pullquote }}</p>
					{% endif %}
					{% if r.comment %}
						<p class="readings__reading_comment">{{ r.comment }}</p>
					{% endif %}
					{% if r.link %}
						<p class="readings__reading_hostname" title="{{ r.link }}">{{ r.link | hostname }}</p>
					{% endif %}
				</div>
			</a>
		</li>
	{% endfor %}
</ul>
