---
title: Required reading
layout: wordswordswords.liquid
permalink: readings.html
---

<p>
	I mean, they’re not <em>required</em>—obviously. But these have struck some
	kind of chord with me.
</p>
<ul class="readings">
	<style>
		.readings {
			font-size: 1rem;
			inline-size: 100%;
			list-style-type: none;
		}
		.readings__reading {
			border-block: var(--delineation);
			margin-block: 0;
			transition-duration: 300ms;
      transition-property: border-color, opacity;
      transition-timing-function: ease;
		}
		.readings:has(.readings__reading:hover) > .readings__reading:not(:hover) {
			border-color: transparent;
			opacity: 45%;
		}
		.readings__reading p {
			margin-block: 0;
			max-inline-size: unset;
		}
		.readings__reading a {
			text-decoration: none;
		}
		.readings__reading_link {
			color: unset;
			display: block grid;
			gap: 0.5rem 1rem;
			padding-block: 2rem 4rem;
			@media (min-width: 40rem) {
				grid-template-columns: 1fr 3fr;
			}
		}
		.readings__reading_details {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
		.readings__reading_author {
			font-family: var(--font-stack-serif);
			font-variant-caps: all-small-caps;
			line-height: 1.3;
		}
		.readings__reading_title {
			font-family: var(--font-stack-serif);
			font-size: 1rem;
			font-style: italic;
			font-weight: 400;
			line-height: 1.3;
		}
		.readings__reading_pullquote {
			font-family: var(--font-stack-serif);
			font-size: 2rem;
			font-weight: 700;
			line-height: 1.15;
			opacity: 93%;
			text-wrap: balance;
		}
		@supports not (hanging-punctuation: first) {
			.readings__reading_pullquote {
				text-indent: -0.5em;
			}
		}
		.readings__reading_pullquote::before {
			content: '“';
		}
		.readings__reading_pullquote::after {
			content: '”';
		}
		p.readings__reading_comment {
			font-family: var(--font-stack-sans);
			margin-block-start: 0.5rem;
		}
	</style>
	{% for r in readings %}
		<li class="readings__reading">
			<a class="readings__reading_link" href="{{ r.link }}" target="_blank">
				<p class="readings__reading_author">
					{% if r.author %}
						{{ r.author }}
					{% else %}
						Unknown
					{% endif %}
				</p>
				<div class="readings__reading_details">
					{% if r.author %}
						<h2 class="readings__reading_title">{{ r.title }}</h2>
					{% endif %}
						{% if r.pullquote %}
					<p class="readings__reading_pullquote">{{ r.pullquote }}</p>
					{% endif %}
					{% if r.comment %}
						<p class="readings__reading_comment">{{ r.comment }}</p>
					{% endif %}
				</div>
			</a>
		</li>
	{% endfor %}
</ul>
